rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /orders/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /settings/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /burenfeest/{id} {
      allow read: if true;
      allow write: if true;
    }
  }
}
